* {
    background-color: var(--background-color)
}
.banner {
    width: 100%;
    height: 20vh;
}
#home-cardService {
    position: absolute;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 70%;
    margin: 30px;
}

@media screen and (max-width: 699px) {
 #home-cardService {
  width: 350px;
}}