.serviceDescription {
    h2 {

    }
    p {
font-size: 14px;
    }
    img {
        margin: auto;
        width: 150px;
    }
}
.descriptionImg {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}