//******************** BANNIERE ***************************
.teamDescription {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        font-size: 14px;
    }
}
.teamText{
    font-size: larger;
    margin : 10px;
    text-align: center;

}
.headingDescription {
    font-size: 30px;
    color: #d6420a;
    text-shadow: 1px 1px 0px black;
    mix-blend-mode: screen;
    animation: fadeIn 2.5s linear forwards;
    margin-bottom: 50px;
    margin-top: -6px;
    text-align: center;
}
 @keyframes fadeIn {
      0% {
          opacity: 0
      }
      100% {
          opacity: 1;
      }
}
@media screen and (min-width: 600px) {
    .headingDescription {
    font-size: 42px;
    }
    .teamText {

        font-size: 30px;
        padding-left: 20px;
}}

// BORDS
hr {
    border: 0;
    margin: 3.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
  }
  .shine1 {
    height: 20px;
    width: 115%;
    background-image: radial-gradient(
      farthest-side at 50% -50%,
      hsla(22, 93%, 47%, 0.899),
      hsla(27, 100%, 44%, 0));
    position: relative; 
  }
  
  .shine1::before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.75) 50%,
      hsla(0, 0%, 0%, 0));
  }
  .shine2 {
    height: 20px;
    width: 115%;
    background-image: radial-gradient(
      farthest-side at 50% -50%,
      hsla(22, 93%, 47%, 0.899),
      hsla(27, 100%, 44%, 0));
    position: relative; 
    transform: rotate(180deg);
  }
  
  .shine2::before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.75) 50%,
      hsla(0, 0%, 0%, 0));
  }
//BACK ARROW
.willBeBack{
    margin-top: 50px;
    text-decoration: none;
    opacity: 0.6;
}
.willBeBack:hover{
    opacity: 1;
}
// .beBack:hover{
//     opacity: 1;
// }
.beBack {
    color :rgb(251, 96, 18);
    text-decoration: none;
    font: var(--font2);
    // opacity: 0.6;
}
.iconeBack{
    scale: 3;
    width: 10%;
    // opacity: 0.6;
    color : rgb(251, 96, 18)
}
.iconeBack:hover{
    opacity: 1;
}

//******************** CARDS ***************************


.teamMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.container{
    display: flex;
    // max-width: 500px;
    // align-items: center;
    flex-direction: row;
    // width: 100%;
    // justify-content: center;
    // align-items: center;
    // align-self: center;
}
.row{
flex-direction: row;
// justify-content: center;
// align-items: center;
// align-self: center;
}

.our-team{
    border: 2px solid rgb(251, 96, 18);
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    z-index: 1;
    position: relative;
    margin: 50px;
    max-width: 350px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.our-team:before,
.our-team:after{
    content: "";
    width: 100%;
    height: 104%;
    background: rgb(251, 96, 18);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%) scaleX(0.3);
    transition: all 0.3s ease 0s;
}
.our-team:after{
    width: 106%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(0.25);
}
.our-team:hover:before{ transform: translateY(-50%) scaleX(0.7); }
.our-team:hover:after{ transform: translate(-50%, -50%) scaleY(0.7); }
.our-team img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
}
.our-team .team-content{
    width: 93%;
    padding: 25px 0 10px;
    background: rgb(251, 96, 18);
    position: absolute;
    bottom: 50px;
    left: 50%;
    opacity: 0;
    -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.5, 0.2,0.1,0.9);
}
.our-team:hover .team-content{
    bottom: 10px;
    opacity: 1;
}
.our-team .title{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0;
}
.our-team .post{
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin: 0 5px;
}
.socialIcon {
    display: block;
    width: 35px;
    height: 35px;
    padding: 5px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    font-size: 20px;
    color: #ff3232;
    transition: all 0.3s ease 0s;
}
.socialIcon:hover{
    background: linear-gradient(to bottom,#ff3232, darkred);
    box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
    color: #fff;
    cursor: pointer;
}
@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}

//******************** NEWSLETTER ***************************

.news {
    margin: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(251, 96, 18);
    border-radius: 10px;
}
.newsletter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  .newsletter h3 {
    color: rgb(251, 96, 18);
    font-family: var(--font1);
    margin: 4rem;
    font-size: 1.2rem;
    text-align: center;
    
  }
  .newsletter input {
    
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: var(--background-color);
    outline: none;
    font-size: 1.2rem;
    border: currentColor 0.125em solid;
    border-color: var(--main-color);
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.5),
    0 0 0.125em currentColor;
    box-shadow: 0 0 0.5em 0 var(--secondary-color);
  }
  .button-container button {
    border-radius: 3rem;
    color: var(--third-color);
    padding: 1rem 2rem;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    background: var(--background-color);
    margin-top: 3rem;
    margin-left: 10px;
    text-shadow: 2px 2px 5px rgba(12, 12, 12, 0.6);
    border: currentColor 0.125em solid;
    border-color: var(--main-color);
    text-shadow: 
    0 0 0.125em hsl(0 0% 100% / 0.5),
    0 0 0.125em currentColor;
    box-shadow: 0 0 0.5em 0 var(--main-color);
  }
  input::placeholder {
    color: var(--main-color);
    text-shadow: 2px 2px 5px rgba(12, 12, 12, 0.6);
  }