.pageUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.userAndFavoriteField {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;

}

.user {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 80%;
    padding: 30px;
    border: 1px;
    background-color: var(#25282A);
    overflow: hidden;
    position: relative;
    max-width: 355px;
    backdrop-filter: blur(1px) saturate(85%);
    -webkit-backdrop-filter: blur(1px) saturate(85%);
    background-color: rgba(251, 96, 18, 0.68);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.favoriteField {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
    // flex-wrap: wrap;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.divTitre {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
}

.orderId1 {
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
    // font-family: 'Balthazar', serif;
    margin: 0;
    width: 30%;
}
.orderId2{
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
    // font-family: 'Balthazar', serif;
    margin: 0;
}
.orderId3 {
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
    // font-family: 'Balthazar', serif;
    margin: 0;
}
.orderId4{
    color: white;
    filter: drop-shadow(0 0 0.75rem black);
    // font-family: 'Balthazar', serif;
    display: none;
}

.orderHistory {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    height: 40vh;
    margin: 30px;
    border: 1px solid rgba(251, 96, 18, 0.68);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.orderHistory::-webkit-scrollbar {
    display: none;
}
.favoriteField::-webkit-scrollbar{
    background: transparent;
}

@media (max-width: 600px) {

.pageUser{
    justify-content: center;
    overflow: scroll;
    .userAndFavoriteField {
        flex-direction: column;

        .user {
            width: fit-content;
        }

        .favoriteField {
            width: 100%;
            overflow: auto;
            display: flex;
            justify-content: flex-start;
            height: 60vh;
        }

    }
    .orderId1{
        width: 100%;
    }
    .orderId4{
        display: initial;
    }
    .mobile{
        display: none;
    }
    // .divTitre {
    //     display: none;
    // }
    .orderHistory {
        overflow: auto;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: 75vh;
}
}
}