.menuButton{
    scale: 3;
    border: none;
    color: var(--main-color);
    background-color: var(--background-color);
    cursor: pointer;
}

.menuListDiv{
    background-color: var(--secondary-color);
    padding-right: 40px;
    .menuList{
        background-color: var(--secondary-color);
        .menuListLi{
            list-style: none;
            font-size: 25px;
            background-color: var(--secondary-color);
        }
        li{
            background-color: var(--secondary-color);
            text-decoration: none
        }}
}


.menuListLi :nth-child(n):link {
    font:var(--font2);
    background-color: transparent;
    text-decoration: none;
    color: black;
  }
  
.menuListLi :nth-child(n):visited {
    font:var(--font2);
    background-color: transparent;
    text-decoration: none;
    color: black;
  }
  
.menuListLi.li :nth-child(n):hover {
    font:var(--font2);
    background-color: transparent;
    text-decoration: none;
    color: black;
    cursor: pointer;

  }
.menuListLi.li :nth-child(n):active {
    font:var(--font2);
    background-color: transparent;
    text-decoration: none;
    color: black;
  }





//----------ci dessous css de l'ancien code (cf hackathon-1)
// .sidenav {
//     height: 100%;
//     width: 250px;
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     left: -250px;
//     background-color: pink;
//     opacity: 0.7;
//     padding-top: 60px;
//     transition: left 0.5s ease;
// }

// .sidenav a {
//     padding: 8px 8px 8px 32px;
//     text-decoration: none;
//     font-size: 25px;
//     color: white;
//     display: block;
//     transition: 0.3s;
// }

// .sidenav a:hover {
//     color: #ffe81f;
// }

// .sidenav ul {
//     list-style-type: none;
//     padding: 0;
//     margin: 0;
// }

// .sidenav.active {
//     left: 0;
// }

// .sidenav .close {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
// }

// .burger-icon span {
//     display: block;
//     width: 35px;
//     height: 5px;
//     background-color: #ffe81f;
//     margin: 6px 0;
// }