
/* DIV ENTIERE DU FOOTER */
.lvcFooter {
    background-color: #25282A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* DIV COMPRENANT LES BOUTONS TEAM & RESPONSABILITY */
.footerButton {
    display: flex;
    flex-direction: row;
}

/* IMAGES APPLI MOBILE */
.logoAppliMobil {
    height: 40px;
    width: auto;
    margin: 10px;
}




/* * * * * MEDIA QUERIES * * * * */
/*mobile*/
@media (max-width: 600px) { 
.footerButton {
        display: none;
    }
// .lvcFooter {
//     justify-content: space-between;
// }
.logoAppliMobil {
    display: none;
}
   }
   
/*desktop*/
@media (min-width: 600px) { 
.searchModuleFooter {
        display: none;
    }

    .containButtonFooter {
        display: none;
    }
    
                .menuBurgerFooter {
                    display: none;
                }
}