/*mobile*/
@media (max-width: 600px) { 
/* DIV ENTIERE DU FOOTER */
.lvcFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:8vh;
    width:100%;
    // backdrop-filter: blur(16px) saturate(180%);
    // background-color: transparent;
    // border-radius: 12px;
}
/* DIV COMPRENANT LES BOUTONS TEAM & RESPONSABILITY */
.footerButton {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* IMAGES APPLI MOBILE */
.footerButton {
        display: none;
    }
.logoStore {
    display: none;
}
.glassPicture{
    scale: 2;
   }
.inputSearch{
    display: none;
}
}

/*desktop*/
@media (min-width: 600px) { 
/* DIV ENTIERE DU FOOTER */
.lvcFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:8vh;
    width:100%;
    // backdrop-filter: blur(16px) saturate(180%);
    // background-color: rgba(37, 40, 42, 0.75);
    // border-radius: 12px;
}
/* DIV COMPRENANT LES BOUTONS TEAM & RESPONSABILITY */
.footerButton {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
/* IMAGES APPLI MOBILE */
.logoStore {
    padding: 10px;
    .logoStore1{
        width: 160px;
        height: 50px;
        padding-right: 10px;
        object-fit: cover;
    }
    .logoStore2{
        width: 180px;
        height: 50px;
        padding-left: 10px;
        object-fit: cover;
    }
}
.searchModuleFooter {
        display: none;
    }
    .containButtonFooter {
        display: none;
    }
    
    .menuBurgerFooter {
        display: none;
    }
    .inputSearch{
        display: initial;
    }
    .glassPicture{
        scale: initial;
    }
}