
/* DIV ENTIERE DU FOOTER */
.lvcFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    bottom:0px;
    height:5vh;
    width:100%;
    z-index: 1;
}

/* DIV COMPRENANT LES BOUTONS TEAM & RESPONSABILITY */
.footerButton {
    display: flex;
    flex-direction: row;
}

/* IMAGES APPLI MOBILE */
.logoAppliMobil {
    height: 40px;
    width: auto;
    margin: 10px;
}


/* * * * * MEDIA QUERIES * * * * */
/*mobile*/
@media (max-width: 600px) { 
.footerButton {
        display: none;
    }
.logoAppliMobil {
    display: none;
}
.glassPicture{
    scale: 2;
   }
.inputSearch{
    display: none;
}
}

/*desktop*/
@media (min-width: 600px) { 
.searchModuleFooter {
        display: none;
    }
    .containButtonFooter {
        display: none;
    }
    
    .menuBurgerFooter {
        display: none;
    }
    .inputSearch{
        display: initial;
    }
    .glassPicture{
        scale: initial;
       }
    }