/* ----------- un peu d'arborescence pour s'y retrouver :) ---------
reviewsBlock
    h1
    .reviewsAndArrow
        logoArrow
        RandomReviews
            randomReviewX
                .reviewFromApi
                .randomReviewProfileX
                    .randomReviewImageX
                    .randomReviewInformationsX
*/

.element{
    all:none;
}

.reviewsBlock{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--third-color);
    padding: 0px 10px 10px 30px;
    max-width: 35vw;
    min-height :15vh;
    h1{
        color: green;
    }
    .reviewsAndArrow{
        display: flex;
        flex-direction: row;
        align-items: center;
        .logoArrow{
            scale: 3;
            width: 10%;
        }
        .randomReviews{
            display: flex;
            flex-direction: row;
        // ---------1ere review------------
            .randomReview1{
                border: 2px solid black;
                width: 40%;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .reviewFromApi{
                    padding: 10px;
                }
                .randomReviewProfile1{
                    display: flex;
                    flex-direction:row ;
                    align-items: center;
                    .randomReviewImage1{
                    scale: 2;
                    padding: 15px;
                    }
                    .randomReviewInformations1{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }   

    // ---------2e review------------
            .randomReview2{
                border: 2px solid black;
                width: 40%;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .reviewFromApi{
                    padding: 10px;
                }
                .randomReviewProfile2{
                    display: flex;
                    flex-direction:row ;
                    align-items: center;
                    .randomReviewImage2{
                    scale: 2;
                    padding: 15px;
                    }
                    .randomReviewInformations2{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}