.searchModule {
    background-color: #25282A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inputSearch {
    color: var(--third-color);
    background-color: var(--background-color)
}

.glassPicture {
    height: 20px;
    width: auto;
}