/* :root {
    --background-color: #25282A;
    --main-color: #FB6012;
    --secondary-color: #97A2A8;
    --third-color: #FFF;
} */
* {
    background-color: #25282A;
}
input {
    color: beige;
}
.glassPicture {
    height: 20px;
    width: auto;
}