.coord{
 
    .detail{
        width: 100%;
        margin: 6px;
        // color: var(--third-color);
        font-style: var(--font3);
        font-weight: bolder;
        
    }
    .userPicture{
        width: 100%;
        border-radius: 50%;
    }
}