:root {
	font-size: calc(16px + (48 - 16)*(100vw - 320px)/(2560 - 320));
    --background-color: #25282A;
    --main-color: #ff6e14;
    --secondary-color: #97A2A8;
    --third-color: #FFFFFF;
    --font1: 'Piedra', cursive;
    --font2: 'OpenSans', cursive;
    --font3: 'HelpMe';
}
body, .mainBtn {
	font: 1em/1.5 var(--font1);
}
.iconePlus {
    height: 1.4rem;
	position: relative;
	top : 8px ;
	padding-right: 8px;
	background-color: var(--main-color);
}
.mainBtn {
	display: flex;
	justify-content: center;
	align-items: stretch;
    left: 750px;
	max-height: 600px;
	font-weight: 600;
    font-size: 1.4rem;
    background: var(--main-color);
	border-radius: 4px;
    border: 1px transparent;
	color: #fff;
	cursor: pointer;
	margin: auto;
	margin-bottom: 1rem;
	padding: 0.5em 1em;
	transition: background .15s linear, color .15s linear;
}
.mainBtn:focus, .mainBtn:hover {
	background: var(--main-color);
	transform: translateY(-0.1em);
}
.mainBtn:focus {
	outline: transparent;
}
.mainBtn::-moz-focus-inner {
	border: 0;
}
// .mainBtn:active {
// 	transform: translateY(0.1em);
// }

// -----------------------Effet explosion------------------

// .exploding, .exploding:focus, .exploding:hover {
// 	background: transparent;
// 	color: transparent;
// }
// .exploding {
// 	pointer-events: none;
// 	position: relative;
// 	will-change: transform;
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;
// }
// .particle {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }
// .particle--debris {
// 	background: var(--main-color);
// }
// .particle--fire {
// 	border-radius: 50%;
// }

// @media (prefers-color-scheme: dark) {
// 	body {
// 		background: #17181c;

// 	}
// }

@media (min-width: 600px) { 
	.mainBtn {
		max-height: 2rem;
		font-size: 1rem;
		padding-bottom: 1rem;
		justify-content: flex-start;
	}
	.iconePlus {
		top : -5px ;
}

}