@import "./App.scss";
@import "./components/Header.scss";
@import "./screens/Home.scss";
@import "./components/Footer.scss";
@import "./components/Search.scss";
@import "./components/VilainButton.scss";
@import "./components/Service.scss";
@import "./components/BurgerMenu.scss";
@import "./components/ResponsabilityButton.scss";
@import "./components/TeamButton.scss";
@import "./screens/PageServices.scss";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}